<div class="color-palette">
  <div class="palette-square" id="lightest-blue"><span class="color-name">lightest-blue</span></div>
  <div class="palette-square" id="light-blue"><span class="color-name">light-blue</span></div>
  <div class="palette-square" id="blue"><span class="color-name">blue</span></div>
  <div class="palette-square" id="dark-blue"><span class="color-name">dark-blue</span></div>
  <div class="palette-square" id="darkest-blue"><span class="color-name">darkest-blue</span></div>
</div>
